.post-content.blog {
  padding: 24px 68px;

  .h3-section-list {
    & > .h3-section {
      width: 100%;
    }
  }

  blockquote {
    background-color: #fff;
    margin: unset;
    padding: 10px 40px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      left: 0;
      top: 0px;
      background-color: #dcdcdc;
    }
  }
}