.post-content.blog {
  padding: 24px 68px;

  @media (max-width: 480px) {
    padding: 12px 12px;
  }

  .h3-section-list {
    & > .h3-section {
      width: 100%;
    }
  }

  blockquote {
    background-color: #fff;
    margin: 0 0 20px;
    padding: 10px 40px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      left: 0;
      top: 0px;
      background-color: #dcdcdc;
    }
  }

  img {
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 0 40px #c5c5c5;
    width: calc(100% - 80px);
  }
}