/*
 * A prelude/intro to the article
 */

.intro-content {
  // Horizontal line, but I don't like how it looks!
  // &::before {
  //   content: '';
  //   display: block;
  //   margin-bottom: 16px;
  //   height: 1px;
  //   background: linear-gradient(to right, $dark-line-color, transparent 50%);

  //   @media (min-width: 769px) {
  //     margin-bottom: 32px;
  //   }
  // }
  padding: 8px 100px;
  margin: 20px 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 68px;
    top: 0;
    height: 16px;
    width: 16px;
    border: solid 3px $theme-color;
    border-right: unset;
    border-bottom: unset;
  }

  &:before {
    content: '';
    position: absolute;
    right: 68px;
    bottom: 0;
    height: 16px;
    width: 16px;
    border: solid 3px $theme-color;
    border-left: unset;
    border-top: unset;
  }

  .preface {
    color: $theme-color;
  }
}
